{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper maximum-width align-center">
<h1 class="purple">Upload an Excel File</h1>
<form method="post" class="align-center" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        <div style="margin: 1.5em;">
            <label class="" id="id_{{ forloop.counter }}">{{ field.label }}</label>
                {{ field }}
        </div>
        {% for error in field.errors %}
            <p style="color: red;">{{error}} </p>
            {% endfor %}
        {% endfor %}
        {% if form.non_field_errors %}
            <div style="color: red;">
                <p> {{form.non_field_errors}} </p>
            </div>
        {% endif %}
        <button id="clear">Clear file </button>
        <div class="content-wrapper maximum-width align-center">
        <button class="style-button left-45" type="submit">Upload</button>
        </div>
</form>
</form>
</div>
{% endblock %}

{% block body_javascript_extra %}
<script>
document.getElementById("clear").addEventListener("click", function () {
    document.getElementById("id_file").value = "";
}, false);
</script>
{% endblock %}